body {
    font-family: "Lato", sans-serif;
background-color:rgb(155, 123, 96);
background-image: url("potfolio.jpg");
  }
.sidenav a:hover {
    color:( #f9f9fd);
  }
        .sidenav {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            /*background-color: rgba(16, 51, 5, 0.918);*/
            background-image: url("pq.jpg");
            overflow-x: hidden;
            padding-top: 20px;
            color: rgb(55, 24, 139);
          } 
          a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color:(rgba(122, 131, 122, 0.376));
            display: block;
          }
          p{
              color: #f3f3fd;
          }
          h1{
            color: rgb(230, 241, 226);
          }
          
     .loader {
       
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-right: 16px solid green;
        border-bottom: 16px solid red;
        border-left: 16px solid pink;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

      }
      
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-right: 16px solid green;
        border-bottom: 16px solid red;
        border-left: 16px solid #f01338;
        width: 170px;
        height: 170px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
      
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-right: 16px solid green;
        border-bottom: 16px solid red;
        border-left: 16px solid pink;
        width: 170px;
        height: 290px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        border-top: 16px solid blue;
        border-right: 16px solid rgb(83, 235, 83);
        border-bottom: 16px solid red;
        border-left: 16px solid pink;
        padding-left: 70%;
      }
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    
      
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .form{
       margin-top: -8%;
      }
      img {
        border-radius: 300%;
        margin-bottom: -40%;
      }